[submodule "lib/geometry"]
	path = lib/geometry
	url = https://github.com/superjax/geometry.git
[submodule "lib/nanoflann_eigen"]
	path = lib/nanoflann_eigen
	url = https://github.com/superjax/nanoflann_eigen.git
