[submodule "lib/geometry"]
	path = lib/geometry
	url = git@github.com:superjax/geometry
[submodule "lib/nanoflann_eigen"]
	path = lib/nanoflann_eigen
	url = git@github.com:superjax/nanoflann_eigen.git
